<h2>Notas de Alumnos</h2>
<ol>
  <li class="listStyle">
    <div ngClass="nombresStyle">Nombres</div> 
    <div ngClass="apellidoStyle">Apellido</div> 
    <div ngClass="notaStyle">Nota</div> 
    <div ngClass="estadoStyle">Estado</div>
  </li>
  <ng-container *ngFor="let alumno of alumnos">
  <li class="listStyle"   [style.background-color]=" alumno.notaFinal<4 ? 'red' : (alumno.notaFinal<7 ? 'blue' : 'green')">
    <div ngClass="nombresStyle">{{alumno.nombres }}</div> 
    <div ngClass="apellidoStyle">{{alumno.apellido}}</div> 
    <div ngClass="notaStyle">{{alumno.notaFinal}}</div> 
    <div ngClass="estadoStyle" [ngSwitch]="alumno.notaFinal<4 ? '1' : (alumno.notaFinal<7 ? '2' : '3')"> 
      <span *ngSwitchCase="1">Libre</span>
      <span *ngSwitchCase="2">Regular</span>
      <span *ngSwitchCase="3">Promocionado</span></div>
  </li>
  </ng-container>
</ol>
